.configPageContainer {
    width: 100%;
    height: 100%;
}

.cardContainer {
    width: 420px;
    height: 220px;
    border: 1px solid black;
}

.botListContainer {
    align-self: flex-start;
    justify-self: flex-start;
    margin: auto;
    display: grid;
    /* 使用 grid-row 限制，而不是auto，父元素负责网格，子元素负责撑开。 */
    grid-auto-rows: 220px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 15px;
    justify-items: center;
    align-items: center;
}