/* [project]/coding/projects/LangBot/web/src/app/home/bots/components/bot-card/botCard.module.css [app-client] (css) */
.botCard-module__1kNUfG__cardContainer {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  height: 10rem;
  padding: 1.2rem;
  transition: all .2s;
  box-shadow: 0 2px 2px #0003;
}

.dark .botCard-module__1kNUfG__cardContainer {
  box-shadow: 0;
  background-color: #1f1f22;
}

.botCard-module__1kNUfG__cardContainer:hover {
  box-shadow: 0 2px 8px #0000001a;
}

.dark .botCard-module__1kNUfG__cardContainer:hover {
  box-shadow: 0;
}

.botCard-module__1kNUfG__iconBasicInfoContainer {
  -webkit-user-select: none;
  user-select: none;
  flex-direction: row;
  gap: .8rem;
  width: 100%;
  height: 100%;
  display: flex;
}

.botCard-module__1kNUfG__iconImage {
  border-radius: 8%;
  width: 4rem;
  height: 4rem;
  margin: .2rem;
}

.botCard-module__1kNUfG__basicInfoContainer {
  flex-direction: column;
  gap: .2rem;
  width: 100%;
  display: flex;
  position: relative;
}

.botCard-module__1kNUfG__basicInfoNameContainer {
  flex-direction: column;
  display: flex;
}

.botCard-module__1kNUfG__basicInfoName {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #1a1a1a;
  font-size: 1.4rem;
  font-weight: 500;
  overflow: hidden;
}

.dark .botCard-module__1kNUfG__basicInfoName {
  color: #f0f0f0;
}

.botCard-module__1kNUfG__basicInfoDescription {
  color: #b1b1b1;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
}

.dark .botCard-module__1kNUfG__basicInfoDescription {
  color: #888;
}

.botCard-module__1kNUfG__basicInfoAdapterContainer {
  flex-direction: row;
  gap: .4rem;
  display: flex;
}

.botCard-module__1kNUfG__basicInfoAdapterIcon {
  color: #626262;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: .2rem;
}

.dark .botCard-module__1kNUfG__basicInfoAdapterIcon {
  color: #a0a0a0;
}

.botCard-module__1kNUfG__basicInfoAdapterLabel {
  color: #626262;
  font-size: 1.2rem;
  font-weight: 500;
}

.dark .botCard-module__1kNUfG__basicInfoAdapterLabel {
  color: #a0a0a0;
}

.botCard-module__1kNUfG__basicInfoPipelineContainer {
  flex-direction: row;
  gap: .4rem;
  display: flex;
}

.botCard-module__1kNUfG__basicInfoPipelineIcon {
  color: #626262;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: .2rem;
}

.dark .botCard-module__1kNUfG__basicInfoPipelineIcon {
  color: #a0a0a0;
}

.botCard-module__1kNUfG__basicInfoPipelineLabel {
  color: #626262;
  font-size: 1.2rem;
  font-weight: 500;
}

.dark .botCard-module__1kNUfG__basicInfoPipelineLabel {
  color: #a0a0a0;
}

.botCard-module__1kNUfG__bigText {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
}

.botCard-module__1kNUfG__botOperationContainer {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: .4rem;
  width: 3rem;
  height: 100%;
  display: flex;
}

/*# sourceMappingURL=15bb4_LangBot_web_src_app_home_bots_components_bot-card_botCard_module_css_bad6b30c._.single.css.map*/