/* [project]/coding/projects/LangBot/web/src/app/home/pipelines/components/pipeline-card/pipelineCard.module.css [app-client] (css) */
.pipelineCard-module__GUxC_G__cardContainer {
  cursor: pointer;
  background-color: #fff;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
  width: 100%;
  height: 10rem;
  padding: 1rem;
  transition: all .2s;
  display: flex;
  box-shadow: 0 2px 2px #0003;
}

.dark .pipelineCard-module__GUxC_G__cardContainer {
  box-shadow: 0;
  background-color: #1f1f22;
}

.pipelineCard-module__GUxC_G__cardContainer:hover {
  box-shadow: 0 2px 8px #0000001a;
}

.dark .pipelineCard-module__GUxC_G__cardContainer:hover {
  box-shadow: 0;
}

.pipelineCard-module__GUxC_G__basicInfoContainer {
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
  width: 100%;
  min-width: 0;
  height: 100%;
  display: flex;
}

.pipelineCard-module__GUxC_G__iconEmoji {
  background-color: #f5f5f5;
  border-radius: .5rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.75rem;
  display: flex;
}

.dark .pipelineCard-module__GUxC_G__iconEmoji {
  background-color: #2a2a2d;
}

.pipelineCard-module__GUxC_G__iconBasicInfoContainer {
  flex-direction: row;
  flex: 1;
  align-items: flex-start;
  gap: .75rem;
  min-width: 0;
  display: flex;
}

.pipelineCard-module__GUxC_G__basicInfoNameContainer {
  flex-direction: column;
  flex: 1;
  gap: .2rem;
  min-width: 0;
  display: flex;
}

.pipelineCard-module__GUxC_G__basicInfoNameText {
  color: #1a1a1a;
  font-size: 1.4rem;
  font-weight: 500;
}

.dark .pipelineCard-module__GUxC_G__basicInfoNameText {
  color: #f0f0f0;
}

.pipelineCard-module__GUxC_G__basicInfoDescriptionText {
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  color: #b1b1b1;
  -webkit-box-orient: vertical;
  font-size: .9rem;
  font-weight: 400;
  display: -webkit-box;
  overflow: hidden;
}

.dark .pipelineCard-module__GUxC_G__basicInfoDescriptionText {
  color: #888;
}

.pipelineCard-module__GUxC_G__basicInfoLastUpdatedTimeContainer {
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  display: flex;
}

.pipelineCard-module__GUxC_G__basicInfoUpdateTimeIcon {
  color: #626262;
  width: 1.2rem;
  height: 1.2rem;
}

.dark .pipelineCard-module__GUxC_G__basicInfoUpdateTimeIcon {
  color: #a0a0a0;
}

.pipelineCard-module__GUxC_G__basicInfoUpdateTimeText {
  color: #626262;
  font-size: 1rem;
  font-weight: 400;
}

.dark .pipelineCard-module__GUxC_G__basicInfoUpdateTimeText {
  color: #a0a0a0;
}

.pipelineCard-module__GUxC_G__operationContainer {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: .5rem;
  width: 8rem;
  display: flex;
}

.pipelineCard-module__GUxC_G__operationDefaultBadge {
  flex-direction: row;
  gap: .5rem;
  display: flex;
}

.pipelineCard-module__GUxC_G__operationDefaultBadgeIcon {
  color: #ffcd27;
  width: 1.2rem;
  height: 1.2rem;
}

.dark .pipelineCard-module__GUxC_G__operationDefaultBadgeIcon {
  color: #fbbf24;
}

.pipelineCard-module__GUxC_G__operationDefaultBadgeText {
  color: #ffcd27;
  font-size: 1rem;
  font-weight: 400;
}

.dark .pipelineCard-module__GUxC_G__operationDefaultBadgeText {
  color: #fbbf24;
}

.pipelineCard-module__GUxC_G__bigText {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
}

.pipelineCard-module__GUxC_G__debugButtonIcon {
  width: 1.2rem;
  height: 1.2rem;
}

/*# sourceMappingURL=49392_app_home_pipelines_components_pipeline-card_pipelineCard_module_css_bad6b30c._.single.css.map*/