/* [project]/coding/projects/LangBot/web/src/app/home/components/home-sidebar/HomeSidebar.module.css [app-client] (css) */
.HomeSidebar-module__TL0h5a__sidebarContainer {
  box-sizing: border-box;
  padding-block: 1rem;
  -webkit-user-select: none;
  user-select: none;
  background-color: #eee;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 11rem;
  height: 100vh;
  padding-left: .4rem;
  display: flex;
}

.dark .HomeSidebar-module__TL0h5a__sidebarContainer {
  background-color: #0a0a0b !important;
}

.HomeSidebar-module__TL0h5a__langbotIconContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  width: 200px;
  height: 70px;
  display: flex;
}

.HomeSidebar-module__TL0h5a__langbotIcon {
  border-radius: 8px;
  width: 2.8rem;
  height: 2.8rem;
  box-shadow: 0 0 10px #0000001a;
}

.dark .HomeSidebar-module__TL0h5a__langbotIcon {
  box-shadow: 0 0 10px #ffffff1a;
}

.HomeSidebar-module__TL0h5a__langbotTextContainer {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .1rem;
  display: flex;
}

.HomeSidebar-module__TL0h5a__langbotText {
  color: #1a1a1a;
  font-size: 1.4rem;
  font-weight: 500;
}

.dark .HomeSidebar-module__TL0h5a__langbotText {
  font-size: 1.4rem;
  font-weight: 500;
  color: #f0f0f0 !important;
}

.HomeSidebar-module__TL0h5a__langbotVersion {
  color: #6c6c6c;
  font-size: .8rem;
  font-weight: 700;
}

.dark .HomeSidebar-module__TL0h5a__langbotVersion {
  font-size: .8rem;
  font-weight: 700;
  color: #a0a0a0 !important;
}

.HomeSidebar-module__TL0h5a__sidebarTopContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  width: 100%;
  display: flex;
}

.HomeSidebar-module__TL0h5a__sidebarItemsContainer {
  flex-direction: column;
  gap: .8rem;
  display: flex;
}

.HomeSidebar-module__TL0h5a__sidebarChildContainer {
  cursor: pointer;
  border-radius: 12px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .5rem;
  width: 9.8rem;
  height: 3rem;
  padding-left: 1.6rem;
  font-size: 1rem;
  transition: all .2s;
  display: flex;
}

.HomeSidebar-module__TL0h5a__sidebarSelected {
  color: #fff;
  background-color: #28e;
  box-shadow: 0 0 10px #0000001a;
}

.dark .HomeSidebar-module__TL0h5a__sidebarSelected {
  color: #fff;
  background-color: #28e;
  box-shadow: 0 0 10px #2288ee4d;
}

.HomeSidebar-module__TL0h5a__sidebarUnselected {
  color: #6c6c6c;
}

.dark .HomeSidebar-module__TL0h5a__sidebarUnselected {
  color: #a0a0a0 !important;
}

.HomeSidebar-module__TL0h5a__sidebarUnselected:hover {
  color: #28e;
  background-color: #2288ee1a;
}

.dark .HomeSidebar-module__TL0h5a__sidebarUnselected:hover {
  color: #66baff;
  background-color: #28e3;
}

.HomeSidebar-module__TL0h5a__sidebarChildIcon {
  background-color: #6095d100;
  width: 20px;
  height: 20px;
}

.HomeSidebar-module__TL0h5a__sidebarChildName {
  color: inherit;
}

.HomeSidebar-module__TL0h5a__sidebarBottomContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding-bottom: 1rem;
  display: flex;
}

.HomeSidebar-module__TL0h5a__sidebarBottomChildContainer {
  flex-direction: row;
  width: 100%;
  height: 50px;
  display: flex;
}

/*# sourceMappingURL=c50a8_web_src_app_home_components_home-sidebar_HomeSidebar_module_css_bad6b30c._.single.css.map*/