/* [project]/coding/projects/LangBot/web/src/styles/github-markdown.css [app-client] (css) */
.markdown-body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: var(--color-fg-default);
  word-wrap: break-word;
  background-color: #0000;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Noto Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.dark .markdown-body .hljs {
  background: none !important;
}

.markdown-body pre code.hljs {
  background: none;
}

.markdown-body .octicon {
  fill: currentColor;
  vertical-align: text-bottom;
  display: inline-block;
}

.markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 {
  border-bottom: 1px solid var(--color-border-muted);
  padding-bottom: .3em;
  font-size: 2em;
}

.markdown-body h2 {
  border-bottom: 1px solid var(--color-border-muted);
  padding-bottom: .3em;
  font-size: 1.5em;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: .875em;
}

.markdown-body h6 {
  color: var(--color-fg-muted);
  font-size: .85em;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown-body blockquote {
  color: var(--color-fg-muted);
  border-left: .25em solid var(--color-border-default);
  margin: 0 0 16px;
  padding: 0 1em;
}

.markdown-body ul, .markdown-body ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 2em;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body li, .markdown-body li + li {
  margin-top: .25em;
}

.markdown-body li > p {
  margin-top: 16px;
  margin-bottom: 16px;
}

.markdown-body li > p:first-child {
  margin-top: 0;
}

.markdown-body li > p:last-child {
  margin-bottom: 0;
}

.markdown-body ul ul, .markdown-body ul ol, .markdown-body ol ol, .markdown-body ol ul {
  margin-top: .25em;
  margin-bottom: 0;
}

.markdown-body ul ul {
  list-style-type: circle;
}

.markdown-body ul ul ul {
  list-style-type: square;
}

.markdown-body code {
  background-color: var(--color-neutral-muted);
  border-radius: 6px;
  margin: 0;
  padding: .2em .4em;
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  font-size: 85%;
}

.markdown-body pre {
  background-color: var(--color-canvas-subtle);
  border-radius: 6px;
  margin-top: 0;
  margin-bottom: 16px;
  padding: 16px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
}

.markdown-body pre code {
  line-height: inherit;
  word-wrap: normal;
  background-color: #0000;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline;
  overflow: visible;
}

.markdown-body a {
  color: var(--color-accent-fg);
  text-decoration: none;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  width: max-content;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 16px;
  display: block;
  overflow: auto;
}

.markdown-body table tr {
  border-top: 1px solid var(--color-border-muted);
  background-color: #0000;
}

.markdown-body table tr:nth-child(2n) {
  background-color: var(--color-canvas-subtle);
}

.markdown-body table th, .markdown-body table td {
  border: 1px solid var(--color-border-default);
  padding: 6px 13px;
}

.markdown-body table th {
  background-color: var(--color-canvas-subtle);
  font-weight: 600;
}

.markdown-body img {
  box-sizing: content-box;
  background-color: #0000;
  max-width: 50%;
}

.markdown-body hr {
  background-color: var(--color-border-default);
  border: 0;
  height: .25em;
  margin: 24px 0;
  padding: 0;
}

.markdown-body {
  --color-fg-default: #1f2328;
  --color-fg-muted: #656d76;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: #d8dee4;
  --color-neutral-muted: #afb8c133;
  --color-accent-fg: #0969da;
}

.dark .markdown-body {
  --color-fg-default: #e6edf3;
  --color-fg-muted: #8d96a0;
  --color-canvas-subtle: #161b22;
  --color-border-default: #30363d;
  --color-border-muted: #21262d;
  --color-neutral-muted: #6e768166;
  --color-accent-fg: #4493f8;
}

.markdown-body .hljs {
  color: var(--color-fg-default);
  background: none;
  padding: 0;
  display: block;
  overflow-x: auto;
}

.markdown-body .hljs-comment, .markdown-body .hljs-quote {
  color: #6a737d;
  font-style: italic;
}

.markdown-body .hljs-keyword, .markdown-body .hljs-selector-tag, .markdown-body .hljs-subst {
  color: #d73a49;
}

.markdown-body .hljs-number, .markdown-body .hljs-literal, .markdown-body .hljs-variable, .markdown-body .hljs-template-variable, .markdown-body .hljs-tag .hljs-attr {
  color: #005cc5;
}

.markdown-body .hljs-string, .markdown-body .hljs-doctag {
  color: #032f62;
}

.markdown-body .hljs-title, .markdown-body .hljs-section, .markdown-body .hljs-selector-id {
  color: #6f42c1;
  font-weight: bold;
}

.markdown-body .hljs-type, .markdown-body .hljs-class .hljs-title {
  color: #6f42c1;
}

.markdown-body .hljs-tag, .markdown-body .hljs-name, .markdown-body .hljs-attribute {
  color: #22863a;
  font-weight: normal;
}

.markdown-body .hljs-regexp, .markdown-body .hljs-link {
  color: #032f62;
}

.markdown-body .hljs-symbol, .markdown-body .hljs-bullet {
  color: #e36209;
}

.markdown-body .hljs-built_in, .markdown-body .hljs-builtin-name {
  color: #005cc5;
}

.markdown-body .hljs-meta {
  color: #6a737d;
}

.markdown-body .hljs-deletion {
  background-color: #ffeef0;
}

.markdown-body .hljs-addition {
  background-color: #e6ffed;
}

.markdown-body .hljs-emphasis {
  font-style: italic;
}

.markdown-body .hljs-strong {
  font-weight: bold;
}

.dark .markdown-body .hljs-comment, .dark .markdown-body .hljs-quote {
  color: #8b949e;
}

.dark .markdown-body .hljs-keyword, .dark .markdown-body .hljs-selector-tag, .dark .markdown-body .hljs-subst {
  color: #ff7b72;
}

.dark .markdown-body .hljs-number, .dark .markdown-body .hljs-literal, .dark .markdown-body .hljs-variable, .dark .markdown-body .hljs-template-variable, .dark .markdown-body .hljs-tag .hljs-attr {
  color: #79c0ff;
}

.dark .markdown-body .hljs-string, .dark .markdown-body .hljs-doctag {
  color: #a5d6ff;
}

.dark .markdown-body .hljs-title, .dark .markdown-body .hljs-section, .dark .markdown-body .hljs-selector-id {
  color: #d2a8ff;
  font-weight: bold;
}

.dark .markdown-body .hljs-type, .dark .markdown-body .hljs-class .hljs-title {
  color: #d2a8ff;
}

.dark .markdown-body .hljs-tag, .dark .markdown-body .hljs-name, .dark .markdown-body .hljs-attribute {
  color: #7ee787;
}

.dark .markdown-body .hljs-regexp, .dark .markdown-body .hljs-link {
  color: #a5d6ff;
}

.dark .markdown-body .hljs-symbol, .dark .markdown-body .hljs-bullet {
  color: #ffa657;
}

.dark .markdown-body .hljs-built_in, .dark .markdown-body .hljs-builtin-name {
  color: #79c0ff;
}

.dark .markdown-body .hljs-meta {
  color: #8b949e;
}

.dark .markdown-body .hljs-deletion {
  background-color: #f8514926;
}

.dark .markdown-body .hljs-addition {
  background-color: #2ea04326;
}

/*# sourceMappingURL=coding_projects_LangBot_web_src_styles_github-markdown_css_bad6b30c._.single.css.map*/